@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    background-color: #020617; /* Slate-950 */
    color: #f8fafc; /* Slate-50 */
  }

  /* Custom high-performance premium custom scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #020617;
  }
  ::-webkit-scrollbar-thumb {
    background: #1e293b; /* Slate-800 */
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #0ea5e9; /* Cyan-500 Accent Hook */
  }
}